# Configuración del servidor
PORT=8080

# Base de datos
ECOPEQUES_DB_HOST=localhost
ECOPEQUES_DB_PORT=3306
ECOPEQUES_DB_NAME=ecopeques_db
ECOPEQUES_DB_USER=root
ECOPEQUES_DB_PASSWORD=tu_password_local

# Seguridad JWT
ECOPEQUES_JWT_SECRET=EcoPequesSecretKeyParaFirmarTokensJWT256BitsMinimo123456
ECOPEQUES_JWT_EXPIRATION_MS=86400000