HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Archivos de Variables de Entorno (PRIVADOS - NUNCA SUBIR)
.env
.env.local
.env.*.local

# Archivos y carpetas de compilación de Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Entorno de desarrollo de Visual Studio Code e IntelliJ
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Logs y bases de datos temporales locales
*.log
*.h2.db